$shadow: 0px 5px 15px rgb(36, 36, 36);

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-btn {
    background-color: transparent;
    outline: none;
    font-size: 40px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-board {
  top: 80px;
  height: 80vh;
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(4px);
  clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 99%);
}

.nav-board-content {
  padding-top: 150px;
  padding-left: 100px;
  backdrop-filter: blur(0px);
  background-color: transparent;
  z-index: 100;
  li {
    background-color: rgba(118, 118, 118, 0.557);
    padding: 10px;
    margin: 5px;
  }
}

.nav-btn {
  padding: 8px;
  padding-inline: 15px;
  border: 2px solid white;
  border-radius: 5px;
  height: min-content;
}

.login-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  color: transparent;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  backdrop-filter: blur(1px);

}

.logout-btn {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
}

.nav-session-data {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: 0 0 0 auto;
  p {
    text-align: right;
  }
}
